@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


#slider-boxes{
  display: flex !important;
}
.slick-slide div{
  margin:10px;
}
.slick-arrow:before{
  color: aqua;
  font-size: 5px;
}